{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="destinations">
    <div class="container">
        <!-- Barra de acciones -->
        <div class="d-flex justify-content-between mb-4">
            <h2>Todos nuestros destinos</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'agregar_destino' %}" class="btn btn-success">
                    <i class="fa fa-plus"></i> Nuevo Destino
                </a>
            {% endif %}
        </div>
        
        <!-- Filtros -->
        <div class="row mb-4">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Buscar destinos...">
            </div>
        </div>
        
        <!-- Lista de cards -->
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid">
                    {% for destino in destinos %}
                        {% include 'destinos/partials/_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Paginación -->
        {% include 'partials/_pagination.html' %}
    </div>
</div>
{% endblock %}